.ngx-datatable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100%; /* Important for container constraints */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &.ngx-flex {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 100%;
  }

  .visible {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Force scrolling context */
  }

  /* This should be at root level to apply when ngx-flex is NOT present but we want flex behavior */
  .datatable-body {
    overflow-y: auto;
    flex: 1 1 auto;
  }

  .datatable-header,
  .datatable-footer {
    flex: none;
  }
  &.ngx-nowrap-text .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  [hidden] {
    display: none !important;
  }

  .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /**
   * Vertical Scrolling Adjustments
   */
  &.scroll-vertical {
    .datatable-body {
      overflow-y: auto;
      flex: 1 1 auto; /* Allow body to grow/shrink */
    }
    &.virtualized {
      .datatable-body {
        .datatable-row-wrapper {
          position: absolute;
        }
      }
    }
  }

  /**
   * Horizontal Scrolling Adjustments
   */
  &.scroll-horz {
    .datatable-body {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  /**
   * Fixed Header Height Adjustments
   */
  &.fixed-header {
    .datatable-header {
      .datatable-header-inner {
        white-space: nowrap;
        .datatable-header-cell {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  /**
   * Fixed row height adjustments
   */
  &.fixed-row {
    .datatable-scroll {
      white-space: nowrap;

      .datatable-body-row {
        white-space: nowrap;

        .datatable-body-cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .datatable-body-group-cell {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  /**
   * Shared Styles
   */
  .datatable-body-row,
  .datatable-row-center,
  .datatable-header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    flex-flow: row;
  }

  .datatable-body-cell,
  .datatable-header-cell {
    overflow-x: hidden;
    vertical-align: top;
    display: inline-flex;
    line-height: 1.625;

    &:focus {
      outline: none;
    }

    .datatable-body-cell-label {
      width: 100%;
    }

    &-bold {
      font-weight: bold;
    }
  }

  .datatable-row-left,
  .datatable-row-right {
    z-index: 9;
  }

  .datatable-row-left,
  .datatable-row-center,
  .datatable-row-group,
  .datatable-row-right {
    position: relative;
  }

  /**
   * Header Styles
   */
  .datatable-header {
    // display: block;
    overflow: hidden;

    .datatable-header-inner {
      align-items: stretch;
      -webkit-align-items: stretch;
    }

    .datatable-header-cell {
      position: relative;
      display: inline-flex;
      user-select: none;

      &.sortable {
        .datatable-header-cell-wrapper {
          cursor: pointer;
        }
      }

      &.longpress .datatable-header-cell-wrapper {
        cursor: move;
      }

      .sort-btn {
        margin-left: auto;
      }

      .sort-btn::before {
        line-height: 100%;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        font-size: 1.25rem;
        margin-right: -7px;
      }

      .resize-handle,
      .resize-handle--not-resizable {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        padding: 0 4px;
        visibility: hidden;
      }

      .resize-handle {
        cursor: ew-resize;
      }

      &.resizeable {
        flex-shrink: 0;
      }

      &.resizeable:hover {
        .resize-handle {
          visibility: visible;
        }
      }

      &:hover {
        .resize-handle--not-resizable {
          visibility: visible;
        }
      }

      .targetMarker {
        position: absolute;
        top: 0;
        bottom: 0;

        &.dragFromLeft {
          right: -13px;
        }

        &.dragFromRight {
          left: 0;
        }

        & .icon {
          position: absolute;
        }

        & .datatable-icon-down {
          top: 0px;
        }

        & .datatable-icon-up {
          top: 35px;
        }
      }

      .datatable-header-cell-template-wrap {
        height: inherit;
      }
    }
  }

  /**
   * Body Styles
   */
  .datatable-body {
    position: relative;
    z-index: 10;
    display: block;

    .datatable-scroll {
      display: inline-block;
    }

    .datatable-row-detail {
      overflow-y: hidden;
    }

    .datatable-row-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .datatable-body-row {
      outline: none;

      > div {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    }
  }

  /**
   * Footer Styles
   */
  .datatable-footer {
    display: block;
    width: 100%;
    margin-top: auto;

    .datatable-footer-inner {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .selected-count {
      .page-count {
        flex: 1 1 40%;
      }
      .datatable-pager {
        flex: 1 1 60%;
      }
    }

    .page-count {
      flex: 1 1 20%;
    }

    .datatable-pager {
      flex: 1 1 80%;
      text-align: right;

      .pager,
      .pager li {
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style: none;
      }

      .pager {
        li,
        li a {
          outline: none;
        }

        li {
          a {
            cursor: pointer;
            display: inline-block;
          }

          &.disabled a {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .progress-linear {
    display: block;
    width: 100%;
    height: 5px;
    padding: 0;
    margin: 0;

    .container {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 5px;
      -webkit-transform: translate(0, 0) scale(1, 1);
      transform: translate(0, 0) scale(1, 1);

      .bar {
        transition: all 0.2s linear;
        -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
        animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);

        transition:
          -webkit-transform 0.2s linear,
          transform 0.2s linear;

        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
      }
    }
  }
}

/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}
